In [1]:
import numpy as np
import pandas as pd

In [11]:
train_df = pd.read_csv('train.csv')

In [7]:
train_df.head(3)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.00,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.05,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.00,NaN,S,0

In [12]:
train_df.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [13]:
train_df.head(3)

   Pclass     Sex   Age  SibSp  Parch   Fare Cabin Embarked  Survived
0       2  female  29.0      1      0  26.00   NaN        S         1
1       3    male   NaN      0      0   8.05   NaN        S         0
2       2    male  39.0      0      0  26.00   NaN        S         0

In [14]:
train_df.isnull().sum()

Pclass        0
Sex           0
Age         132
SibSp         0
Parch         0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [16]:
train_df['Age'].fillna(train_df['Age'].median(skipna=True), inplace=True)
train_df['Embarked'].fillna(train_df['Embarked'].value_counts().idxmax(), inplace=True)

In [17]:
train_df.isnull().sum()

Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Cabin       514
Embarked      0
Survived      0
dtype: int64

In [18]:
train_df.drop('Cabin', axis=1, inplace=True)

In [19]:
train_df.head(3)

   Pclass     Sex   Age  SibSp  Parch   Fare Embarked  Survived
0       2  female  29.0      1      0  26.00        S         1
1       3    male  29.0      0      0   8.05        S         0
2       2    male  39.0      0      0  26.00        S         0

In [20]:
train_df['TravelAlone'] = np.where(train_df['SibSp'] + train_df['Parch'] > 0, 0, 1)
train_df.drop(['SibSp', 'Parch'], axis=1, inplace=True)

In [21]:
train_df.head(2)

   Pclass     Sex   Age   Fare Embarked  Survived  TravelAlone
0       2  female  29.0  26.00        S         1            0
1       3    male  29.0   8.05        S         0            1

In [22]:
train_df = pd.get_dummies(train_df, columns=['Pclass', 'Sex', 'Embarked'])

In [23]:
train_df.head(3)

,Age,Fare,Survived,TravelAlone,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,29.0,26.00,1,0,0,1,0,1,0,0,0,1
1,29.0,8.05,0,1,0,0,1,0,1,0,0,1
2,39.0,26.00,0,1,0,1,0,0,1,0,0,1

In [24]:
train_df.drop('Sex_female', axis=1, inplace=True)

In [25]:
train_df.head(2)

,Age,Fare,Survived,TravelAlone,Pclass_1,Pclass_2,Pclass_3,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,29.0,26.00,1,0,0,1,0,0,0,0,1
1,29.0,8.05,0,1,0,0,1,1,0,0,1

In [37]:
X = train_df.drop('Survived', axis=1).values

In [38]:
type(X)

numpy.ndarray

In [39]:
Y = train_df.Survived.values

In [40]:
type(Y)

numpy.ndarray

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [52]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [53]:
X_train.shape

(534, 10)

In [54]:
X_test.shape

(134, 10)

In [56]:
train_ones = np.ones(len(X_train))
test_ones = np.ones(len(X_test))
train_ones = train_ones.reshape(-1, 1)
test_ones = test_ones.reshape(-1, 1)
X_train = np.append(X_train, train_ones, axis=1)
X_test = np.append(X_test, test_ones, axis=1)

In [66]:
X_train.shape, X_test.shape

((534, 11), (134, 11))

In [93]:

tm = np.zeros(11)
hx = sigmoid(X_train[1, :], tm)
hx

0.5

In [98]:
def sigmoid(x, m):
    z = np.dot(x, m)
    return 1.0 / (1 + np.exp(-z))

In [103]:
def cost(X_train, y_train, m):
    total_cost = 0
    M = len(X_train)
    n_cols = X_train.shape[1]
    
    for i in range(M):
        x = X_train[i, :]
        y = y_train[i]
        hx = sigmoid(x, m)
        
        for j in range(n_cols):
            total_cost += (-1 / M) * (y) * (np.log(hx)) - (1 - y) * np.log(1 - hx)
    
    return total_cost

In [60]:
def step_gradient(X_train, y_train, learning_rate, m):
    n_cols = X_train.shape[1]
    m_slope = np.zeros(n_cols)
    M = len(X_train)
    
    for i in range(M):
        x = X_train[i, :]
        y = y_train[i]
        hx = sigmoid(x, m)
        
        for j in range(n_cols):
            m_slope[j] += (-1/M) * (y - hx) * x[j]
        m = m - learning_rate * m_slope
    
    return m

In [96]:
def gd(X_train, y_train, learning_rate, num_iterations):
    n_cols = X_train.shape[1]
    m = np.zeros(n_cols)
    
    for i in range(num_iterations):
        m = step_gradient(X_train, y_train, learning_rate, m)
        print(i, " Cost: ", cost(X_train, y_train, m))
    return m

In [63]:
def run():
    learning_rate = 0.001
    num_iterations = 500
    m = gd(X_train, y_train, learning_rate, num_iterations)
    
    return m

In [104]:
m = run()

0  Cost:  2267.54754854
1  Cost:  2152.37524064
2  Cost:  2058.88709797
3  Cost:  1981.43009107
4  Cost:  1916.06737895
5  Cost:  1860.02814353
6  Cost:  1811.3290088
7  Cost:  1768.52266206
8  Cost:  1730.53197077
9  Cost:  1696.53976175
10  Cost:  1665.91465114
11  Cost:  1638.16037598
12  Cost:  1612.88062779
13  Cost:  1589.75425536
14  Cost:  1568.51750586
15  Cost:  1548.95111408
16  Cost:  1530.8707794
17  Cost:  1514.12004315
18  Cost:  1498.56488965
19  Cost:  1484.08960114
20  Cost:  1470.59353614
21  Cost:  1457.98859634
22  Cost:  1446.19721252
23  Cost:  1435.15072652
24  Cost:  1424.78807835
25  Cost:  1415.05473115
26  Cost:  1405.90178321
27  Cost:  1397.28522867
28  Cost:  1389.16533737
29  Cost:  1381.50613103
30  Cost:  1374.27493806
31  Cost:  1367.44201294
32  Cost:  1360.98020895
33  Cost:  1354.86469555
34  Cost:  1349.07271299
35  Cost:  1343.58335847
36  Cost:  1338.377399
37  Cost:  1333.43710708
38  Cost:  1328.74611577
39  Cost:  1324.28929068
40  Cost:  1320.05261634
41  Cost:  1316.02309523
42  Cost:  1312.18865768
43  Cost:  1308.53808138
44  Cost:  1305.06091921
45  Cost:  1301.74743444
46  Cost:  1298.58854241
47  Cost:  1295.57575795
48  Cost:  1292.7011478
49  Cost:  1289.95728758
50  Cost:  1287.33722278
51  Cost:  1284.83443321
52  Cost:  1282.44280081
53  Cost:  1280.1565801
54  Cost:  1277.97037138
55  Cost:  1275.87909613
56  Cost:  1273.87797446
57  Cost:  1271.96250453
58  Cost:  1270.12844351
59  Cost:  1268.37179022
60  Cost:  1266.68876903
61  Cost:  1265.07581507
62  Cost:  1263.5295606
63  Cost:  1262.04682235
64  Cost:  1260.62458985
65  Cost:  1259.26001465
66  Cost:  1257.95040028
67  Cost:  1256.69319293
68  Cost:  1255.48597283
69  Cost:  1254.32644622
70  Cost:  1253.21243788
71  Cost:  1252.14188415
72  Cost:  1251.11282644
73  Cost:  1250.12340519
74  Cost:  1249.17185422
75  Cost:  1248.2564954
76  Cost:  1247.37573378
77  Cost:  1246.52805289
78  Cost:  1245.71201048
79  Cost:  1244.92623439
80  Cost:  1244.16941879
81  Cost:  1243.44032061
82  Cost:  1242.73775614
83  Cost:  1242.06059793
84  Cost:  1241.40777178
85  Cost:  1240.77825398
86  Cost:  1240.1710687
87  Cost:  1239.58528547
88  Cost:  1239.02001689
89  Cost:  1238.47441642
90  Cost:  1237.94767631
91  Cost:  1237.43902568
92  Cost:  1236.94772859
93  Cost:  1236.47308241
94  Cost:  1236.01441607
95  Cost:  1235.5710886
96  Cost:  1235.14248756
97  Cost:  1234.72802775
98  Cost:  1234.32714979
99  Cost:  1233.93931897
100  Cost:  1233.56402399
101  Cost:  1233.2007759
102  Cost:  1232.849107
103  Cost:  1232.50856985
104  Cost:  1232.17873631
105  Cost:  1231.85919666
106  Cost:  1231.5495587
107  Cost:  1231.24944696
108  Cost:  1230.95850194
109  Cost:  1230.67637935
110  Cost:  1230.4027494
111  Cost:  1230.13729618
112  Cost:  1229.87971699
113  Cost:  1229.62972178
114  Cost:  1229.38703253
115  Cost:  1229.15138273
116  Cost:  1228.9225169
117  Cost:  1228.70019003
118  Cost:  1228.48416715
119  Cost:  1228.27422291
120  Cost:  1228.0701411
121  Cost:  1227.87171428
122  Cost:  1227.6787434
123  Cost:  1227.49103741
124  Cost:  1227.30841292
125  Cost:  1227.13069388
126  Cost:  1226.95771125
127  Cost:  1226.78930269
128  Cost:  1226.62531228
129  Cost:  1226.46559026
130  Cost:  1226.30999272
131  Cost:  1226.15838141
132  Cost:  1226.01062345
133  Cost:  1225.86659113
134  Cost:  1225.72616168
135  Cost:  1225.58921706
136  Cost:  1225.45564377
137  Cost:  1225.32533266
138  Cost:  1225.19817872
139  Cost:  1225.07408096
140  Cost:  1224.95294219
141  Cost:  1224.83466889
142  Cost:  1224.71917107
143  Cost:  1224.60636207
144  Cost:  1224.4961585
145  Cost:  1224.38848005
146  Cost:  1224.28324937
147  Cost:  1224.18039198
148  Cost:  1224.07983612
149  Cost:  1223.98151265
150  Cost:  1223.88535495
151  Cost:  1223.79129882
152  Cost:  1223.69928238
153  Cost:  1223.60924596
154  Cost:  1223.52113204
155  Cost:  1223.43488513
156  Cost:  1223.35045174
157  Cost:  1223.26778024
158  Cost:  1223.18682084
159  Cost:  1223.10752547
160  Cost:  1223.02984776
161  Cost:  1222.95374294
162  Cost:  1222.87916777
163  Cost:  1222.80608052
164  Cost:  1222.73444088
165  Cost:  1222.66420992
166  Cost:  1222.59535001
167  Cost:  1222.52782481
168  Cost:  1222.46159918
169  Cost:  1222.39663919
170  Cost:  1222.332912
171  Cost:  1222.27038586
172  Cost:  1222.20903009
173  Cost:  1222.148815
174  Cost:  1222.08971186
175  Cost:  1222.03169287
176  Cost:  1221.97473115
177  Cost:  1221.91880065
178  Cost:  1221.86387617
179  Cost:  1221.8099333
180  Cost:  1221.75694841
181  Cost:  1221.70489859
182  Cost:  1221.65376167
183  Cost:  1221.60351615
184  Cost:  1221.5541412
185  Cost:  1221.50561663
186  Cost:  1221.45792285
187  Cost:  1221.41104088
188  Cost:  1221.36495231
189  Cost:  1221.31963928
190  Cost:  1221.27508444
191  Cost:  1221.23127099
192  Cost:  1221.18818259
193  Cost:  1221.1458034
194  Cost:  1221.10411803
195  Cost:  1221.06311154
196  Cost:  1221.0227694
197  Cost:  1220.98307751
198  Cost:  1220.94402218
199  Cost:  1220.90559007
200  Cost:  1220.86776825
201  Cost:  1220.83054413
202  Cost:  1220.79390545
203  Cost:  1220.75784033
204  Cost:  1220.72233717
205  Cost:  1220.6873847
206  Cost:  1220.65297197
207  Cost:  1220.61908829
208  Cost:  1220.58572327
209  Cost:  1220.5528668
210  Cost:  1220.52050901
211  Cost:  1220.48864032
212  Cost:  1220.45725137
213  Cost:  1220.42633304
214  Cost:  1220.39587645
215  Cost:  1220.36587296
216  Cost:  1220.33631411
217  Cost:  1220.30719168
218  Cost:  1220.27849764
219  Cost:  1220.25022416
220  Cost:  1220.2223636
221  Cost:  1220.19490851
222  Cost:  1220.16785161
223  Cost:  1220.1411858
224  Cost:  1220.11490415
225  Cost:  1220.08899988
226  Cost:  1220.06346639
227  Cost:  1220.03829721
228  Cost:  1220.01348603
229  Cost:  1219.98902669
230  Cost:  1219.96491316
231  Cost:  1219.94113955
232  Cost:  1219.9177001
233  Cost:  1219.89458918
234  Cost:  1219.87180128
235  Cost:  1219.84933102
236  Cost:  1219.82717314
237  Cost:  1219.80532247
238  Cost:  1219.78377397
239  Cost:  1219.7625227
240  Cost:  1219.74156384
241  Cost:  1219.72089265
242  Cost:  1219.70050451
243  Cost:  1219.68039487
244  Cost:  1219.6605593
245  Cost:  1219.64099344
246  Cost:  1219.62169303
247  Cost:  1219.6026539
248  Cost:  1219.58387195
249  Cost:  1219.56534317
250  Cost:  1219.54706364
251  Cost:  1219.52902949
252  Cost:  1219.51123694
253  Cost:  1219.4936823
254  Cost:  1219.47636193
255  Cost:  1219.45927227
256  Cost:  1219.44240981
257  Cost:  1219.42577113
258  Cost:  1219.40935286
259  Cost:  1219.39315171
260  Cost:  1219.37716442
261  Cost:  1219.36138782
262  Cost:  1219.34581879
263  Cost:  1219.33045426
264  Cost:  1219.31529122
265  Cost:  1219.30032672
266  Cost:  1219.28555784
267  Cost:  1219.27098176
268  Cost:  1219.25659565
269  Cost:  1219.24239678
270  Cost:  1219.22838243
271  Cost:  1219.21454996
272  Cost:  1219.20089676
273  Cost:  1219.18742025
274  Cost:  1219.17411793
275  Cost:  1219.16098732
276  Cost:  1219.14802597
277  Cost:  1219.13523151
278  Cost:  1219.12260156
279  Cost:  1219.11013383
280  Cost:  1219.09782603
281  Cost:  1219.08567593
282  Cost:  1219.07368133
283  Cost:  1219.06184006
284  Cost:  1219.05015
285  Cost:  1219.03860905
286  Cost:  1219.02721514
287  Cost:  1219.01596626
288  Cost:  1219.00486041
289  Cost:  1218.99389562
290  Cost:  1218.98306996
291  Cost:  1218.97238154
292  Cost:  1218.96182849
293  Cost:  1218.95140895
294  Cost:  1218.94112112
295  Cost:  1218.93096321
296  Cost:  1218.92093348
297  Cost:  1218.91103018
298  Cost:  1218.90125161
299  Cost:  1218.89159611
300  Cost:  1218.88206201
301  Cost:  1218.8726477
302  Cost:  1218.86335156
303  Cost:  1218.85417203
304  Cost:  1218.84510755
305  Cost:  1218.83615659
306  Cost:  1218.82731765
307  Cost:  1218.81858923
308  Cost:  1218.80996988
309  Cost:  1218.80145816
310  Cost:  1218.79305264
311  Cost:  1218.78475194
312  Cost:  1218.77655466
313  Cost:  1218.76845945
314  Cost:  1218.76046498
315  Cost:  1218.75256992
316  Cost:  1218.74477298
317  Cost:  1218.73707287
318  Cost:  1218.72946834
319  Cost:  1218.72195813
320  Cost:  1218.71454103
321  Cost:  1218.70721581
322  Cost:  1218.6999813

323  Cost:  1218.69283632
324  Cost:  1218.68577971
325  Cost:  1218.67881032
326  Cost:  1218.67192704
327  Cost:  1218.66512875
328  Cost:  1218.65841436
329  Cost:  1218.65178278
330  Cost:  1218.64523297
331  Cost:  1218.63876385
332  Cost:  1218.63237442
333  Cost:  1218.62606363
334  Cost:  1218.61983049
335  Cost:  1218.61367401
336  Cost:  1218.6075932
337  Cost:  1218.60158711
338  Cost:  1218.59565477
339  Cost:  1218.58979526
340  Cost:  1218.58400764
341  Cost:  1218.57829101
342  Cost:  1218.57264446
343  Cost:  1218.5670671
344  Cost:  1218.56155806
345  Cost:  1218.55611647
346  Cost:  1218.55074149
347  Cost:  1218.54543226
348  Cost:  1218.54018796
349  Cost:  1218.53500777
350  Cost:  1218.52989089
351  Cost:  1218.52483651
352  Cost:  1218.51984384
353  Cost:  1218.51491212
354  Cost:  1218.51004058
355  Cost:  1218.50522846
356  Cost:  1218.50047502
357  Cost:  1218.49577952
358  Cost:  1218.49114124
359  Cost:  1218.48655945
360  Cost:  1218.48203346
361  Cost:  1218.47756256
362  Cost:  1218.47314607
363  Cost:  1218.46878331
364  Cost:  1218.46447361
365  Cost:  1218.46021631
366  Cost:  1218.45601075
367  Cost:  1218.45185629
368  Cost:  1218.44775229
369  Cost:  1218.44369813
370  Cost:  1218.43969319
371  Cost:  1218.43573685
372  Cost:  1218.43182852
373  Cost:  1218.42796759
374  Cost:  1218.42415349
375  Cost:  1218.42038562
376  Cost:  1218.41666342
377  Cost:  1218.41298633
378  Cost:  1218.40935377
379  Cost:  1218.40576521
380  Cost:  1218.4022201
381  Cost:  1218.39871791
382  Cost:  1218.39525809
383  Cost:  1218.39184014
384  Cost:  1218.38846353
385  Cost:  1218.38512775
386  Cost:  1218.3818323
387  Cost:  1218.37857669
388  Cost:  1218.37536042
389  Cost:  1218.37218302
390  Cost:  1218.36904399
391  Cost:  1218.36594287
392  Cost:  1218.3628792
393  Cost:  1218.35985252
394  Cost:  1218.35686236
395  Cost:  1218.35390828
396  Cost:  1218.35098985
397  Cost:  1218.34810662
398  Cost:  1218.34525815
399  Cost:  1218.34244404
400  Cost:  1218.33966384
401  Cost:  1218.33691716
402  Cost:  1218.33420358
403  Cost:  1218.33152268
404  Cost:  1218.32887409
405  Cost:  1218.32625739
406  Cost:  1218.3236722
407  Cost:  1218.32111814
408  Cost:  1218.31859482
409  Cost:  1218.31610187
410  Cost:  1218.31363892
411  Cost:  1218.3112056
412  Cost:  1218.30880156
413  Cost:  1218.30642643
414  Cost:  1218.30407986
415  Cost:  1218.3017615
416  Cost:  1218.29947102
417  Cost:  1218.29720806
418  Cost:  1218.29497231
419  Cost:  1218.29276342
420  Cost:  1218.29058106
421  Cost:  1218.28842493
422  Cost:  1218.28629469
423  Cost:  1218.28419003
424  Cost:  1218.28211065
425  Cost:  1218.28005622
426  Cost:  1218.27802647
427  Cost:  1218.27602107
428  Cost:  1218.27403974
429  Cost:  1218.27208218
430  Cost:  1218.27014811
431  Cost:  1218.26823724
432  Cost:  1218.26634929
433  Cost:  1218.26448399
434  Cost:  1218.26264105
435  Cost:  1218.26082021
436  Cost:  1218.2590212
437  Cost:  1218.25724375
438  Cost:  1218.25548761
439  Cost:  1218.25375251
440  Cost:  1218.2520382
441  Cost:  1218.25034444
442  Cost:  1218.24867096
443  Cost:  1218.24701754
444  Cost:  1218.24538391
445  Cost:  1218.24376985
446  Cost:  1218.24217512
447  Cost:  1218.24059948
448  Cost:  1218.23904271
449  Cost:  1218.23750457
450  Cost:  1218.23598485
451  Cost:  1218.23448331
452  Cost:  1218.23299974
453  Cost:  1218.23153393
454  Cost:  1218.23008565
455  Cost:  1218.2286547
456  Cost:  1218.22724087
457  Cost:  1218.22584395
458  Cost:  1218.22446374
459  Cost:  1218.22310003
460  Cost:  1218.22175263
461  Cost:  1218.22042135
462  Cost:  1218.21910598
463  Cost:  1218.21780633
464  Cost:  1218.21652222
465  Cost:  1218.21525346
466  Cost:  1218.21399986
467  Cost:  1218.21276125
468  Cost:  1218.21153743
469  Cost:  1218.21032824
470  Cost:  1218.2091335
471  Cost:  1218.20795303
472  Cost:  1218.20678666
473  Cost:  1218.20563422
474  Cost:  1218.20449555
475  Cost:  1218.20337048
476  Cost:  1218.20225884
477  Cost:  1218.20116048
478  Cost:  1218.20007523
479  Cost:  1218.19900294
480  Cost:  1218.19794345
481  Cost:  1218.19689661
482  Cost:  1218.19586227
483  Cost:  1218.19484027
484  Cost:  1218.19383047
485  Cost:  1218.19283272
486  Cost:  1218.19184688
487  Cost:  1218.1908728
488  Cost:  1218.18991035
489  Cost:  1218.18895938
490  Cost:  1218.18801975
491  Cost:  1218.18709133
492  Cost:  1218.18617399
493  Cost:  1218.18526759
494  Cost:  1218.184372
495  Cost:  1218.1834871
496  Cost:  1218.18261274
497  Cost:  1218.18174882
498  Cost:  1218.18089519
499  Cost:  1218.18005175

m

In [108]:
def predict(X_test, m):
    M = len(X_test)
    y_pred = np.zeros(M)
    
    for i in range(M):
        x = X_test[i, :]
        p = sigmoid(x, m)
        if (p > 0.5):
            y_pred[i] = 1
        else:
            y_pred[i] = 0
    
    return y_pred

In [109]:
y_pred = predict(X_test, m)

In [110]:
y_pred

array([ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,
        1.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,
        1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,
        0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,
        1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,
        0.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,
        1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,
        1.,  0.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,
        0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  1.])

In [111]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [112]:
cm

array([[67, 16],
       [ 8, 43]])

In [113]:
accuracy_score(y_test, y_pred)

0.82089552238805974