In [1]:
#### Generic Gradient Descent from Scratch. i.e., performing gradient descent algorithms on
#### features set with multiple variables to find out the optimum values of m vector of size n

In [2]:
#### We will be using boston housing dataset

In [3]:
#### First step: Importing the necessary libraries
import numpy as np   # for vector and matrix operations
import pandas as pd  # for data analysis
from sklearn import datasets  # we will be loading boston housing dataset from here

In [4]:
boston = datasets.load_boston()   # loading dataset into boston variable

In [7]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [8]:
#### data: contains the actual data that we will be feeding into our model for training and predicting
#### target: contains the result values or say answers
#### feature_name: is the list of all feature name :p .
#### DESCR: contains the description of the data and features

In [9]:
print(boston['DESCR'])

Boston House Prices dataset
===========================

Notes
------
Data Set Characteristics:

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive

    :Median Value (attribute 14) is usually the target

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
http://archive.ics.uci.edu/ml/datasets/Housing


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

**References**

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)

In [13]:
### Let's load/convert our data into DataFrame object to perform some analysis
### np.c_ for concatenation
### np.append for appending the 'target' string to the feature_name list
boston_df = pd.DataFrame(np.c_[boston['data'], boston['target']], columns=np.append(boston['feature_names'], 'target'))

In [15]:
boston_df.head()    # looking at the first 5 entries

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [20]:
boston_df.shape   # dimension of our datasets i.e., number of rows and columns

(506, 14)

In [16]:
boston_df.describe()    # let's have some description of our data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [17]:
boston_df.isnull().sum()   # let's see how many null entries are there

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
target     0
dtype: int64

In [18]:
#### we have no NaNs in our dataset as all the datasets from sklearn library are already cleaned
#### But in real life cases you will encounter many NaNs and you have to decide how you wanna
#### deal with those. You can either delete that row or fill them with median, mean or mode ;)

In [24]:
#### Let's split our dataset into X and y
#### X containing all the features
#### y containing the target or results
X = boston_df.iloc[:, :-1].values      # all the data except for the last column
y = boston_df.iloc[:, -1].values       # only the last column
X.shape, y.shape

((506, 13), (506,))

In [25]:
#### Now that we have our X and y
#### Let's split them into training and test set
#### We'll train our model using the training set
#### And we'll use test set for testing the performance of our model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404,), (102,))

In [26]:
#### Let's apply feature scaling on our dataset
#### So that it will be easy for calculating gradient
#### And also all features should be in one range
#### So that the model doesn't learn one feature with high values should be given higher priority
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
print(X_train_scaled)

[[-0.38676786 -0.49559343 -0.60928978 ..., -0.24857777  0.28674182
  -0.96685016]
 [-0.38534946  0.57923879 -0.86952633 ...,  0.58214721  0.36669519
  -0.82116789]
 [ 1.43910768 -0.49559343  1.02669166 ...,  0.81290414  0.43472666
   2.50177533]
 ...,
 [ 0.24089158 -0.49559343  1.02669166 ...,  0.81290414  0.43472666
   0.9145323 ]
 [-0.36607242 -0.49559343 -0.713092   ..., -0.47933471  0.21433534
  -0.26341291]
 [-0.39348854 -0.49559343 -0.74818007 ...,  0.35139027  0.43472666
  -0.55616491]]

In [27]:
#### As we can see the values are now between -1 to 1
#### A beginner would be thinking why don't we apply feature scaling before splitting the
#### dataset into training and test set. Yes you should think if you are a deep learner like
#### me ;) . See the model we make should be given the exact type data that we had used while
#### training our model. But when we deploy our model on web or on software we don't know what 
#### the user might be providing. When we are performing scaling on our training dataset
#### it learns some parameters i.e., std and mean. And the same parameters should be used
#### while transforming the testing data also. That's why we perform fit_transform on training
#### data to tell it to learn the parameters and also transform and only transform on testing 
#### data to tell it to only transform it using the parameters learned through training set.
#### Hope it cleared it :)

In [28]:
#### Now let's start coding the main crux algorithm part

In [59]:
#### Here's the main stuff going on
#### First it is iterating through the dataset row by row
#### performing the matrix dot product on ith row and the m vector
#### Then calculating the slope or gradient
#### And finally we are subtracting the slope from the actual values of m
#### if the slope is negative then it will get added else subtracted
def step_gradient(data, Y, learning_rate, m):
    N = data.shape[1]    # number of columns
    m_slope = np.zeros(N)   # m_slope array contains all 0s initially
    M = len(data)  # number of rows
    for i in range(M):
        x = data[i, :]  # ith training dataset
        y = Y[i]  # ith target vale
        mx = np.dot(x.T, m)  # dot product on ith training dataset and m vector
        
        for j in range(N):   # iterating through the columns of ith training set and finding the slope
            m_slope[j] += (-2/M) * (y - mx) * x[j]
            
        new_m = m - learning_rate * m_slope
    return new_m

In [62]:
def cost(data, Y, m):
    total_cost = 0
    M = len(data)
    for i in range(M):
        x = data[i]
        y = Y[i]
        total_cost += (1/M)*((y - (m*x).sum() )**2)
    return total_cost

In [43]:
def gd(data, Y, num_iterations, learning_rate):
    N = data.shape[1]   # number of columns
    m = np.zeros(N)     # creating an empty array of size M which will initially contain all 0s
    
    for i in range(num_iterations):
        m = step_gradient(data, Y, learning_rate, m)  # call the function to find the slope after going through the whole dataset
        print("Cost at ", i, " :", cost(data, Y, m))  # at the same time also print the cost so that we can check if is it improving or not
        
    return m

In [65]:
# This function will be the starting point of our algorithm
# We will initialize the hyperparameters for gradient descent in this function
# You need to tweak the values of the hyperparameters to adjust algorithm
# When this function is done executing we'll have optimum values of m
# i.e., values of m at which the cost is minimum
def run(data, y):
    num_iterations = 500    # epoch i.e., how many times to iterate through whole dataset
    learning_rate = 0.1   # learning rate to avoid overshooting or slow learning
    m = gd(data, y, num_iterations, learning_rate) # optimum m values :D
    
    return m

In [45]:
### Before calling the gradient descent 
### We must add an extra columns containing all 1s
### We are doing this so that we don't have to find the value of c from the linear equation
### y = mx + c. We just want the equation to be y = mx. An extra m will be treated as c as anything
### multiplied to 1 is that number itself.
ones_col = np.ones(len(X_train_scaled))
ones_col.shape

(404,)

In [46]:
### We must reshape it into 2D array to append it into our dataset
ones_col = ones_col.reshape(-1, 1)
final_X = np.append(X_train_scaled, ones_col, axis=1)
final_X.shape

(404, 14)

In [66]:
### I think we are almost ready
### Let's run our algorithm
m = run(final_X, y_train)

Cost at  0  : 365.256337774
Cost at  1  : 241.045139325
Cost at  2  : 162.747955173
Cost at  3  : 112.794311736
Cost at  4  : 80.854549171
Cost at  5  : 60.4017800097
Cost at  6  : 47.2820989203
Cost at  7  : 38.8479982297
Cost at  8  : 33.410585434
Cost at  9  : 29.8916533493
Cost at  10  : 27.6023661463
Cost at  11  : 26.1023377005
Cost at  12  : 25.1098200932
Cost at  13  : 24.4444209428
Cost at  14  : 23.9905428734
Cost at  15  : 23.6740345195
Cost at  16  : 23.4472706303
Cost at  17  : 23.2796134112
Cost at  18  : 23.1513112426
Cost at  19  : 23.0495942064
Cost at  20  : 22.9661742375
Cost at  21  : 22.8956437732
Cost at  22  : 22.8344493891
Cost at  23  : 22.7802335441
Cost at  24  : 22.7314120901
Cost at  25  : 22.6869028515
Cost at  26  : 22.6459510506
Cost at  27  : 22.6080168538
Cost at  28  : 22.5727027888
Cost at  29  : 22.5397067729
Cost at  30  : 22.5087916088
Cost at  31  : 22.4797650816
Cost at  32  : 22.4524668898
Cost at  33  : 22.4267599938
Cost at  34  : 22.402524824
Cost at  35  : 22.3796553495
Cost at  36  : 22.358056362
Cost at  37  : 22.3376415574
Cost at  38  : 22.3183321473
Cost at  39  : 22.3000558243
Cost at  40  : 22.2827459683
Cost at  41  : 22.2663410184
Cost at  42  : 22.2507839621
Cost at  43  : 22.2360219085
Cost at  44  : 22.2220057249
Cost at  45  : 22.20868972
Cost at  46  : 22.196031365
Cost at  47  : 22.1839910456
Cost at  48  : 22.1725318374
Cost at  49  : 22.1616193038
Cost at  50  : 22.1512213113
Cost at  51  : 22.1413078611
Cost at  52  : 22.1318509343
Cost at  53  : 22.1228243497
Cost at  54  : 22.1142036337
Cost at  55  : 22.1059658988
Cost at  56  : 22.0980897331
Cost at  57  : 22.0905550968
Cost at  58  : 22.0833432273
Cost at  59  : 22.0764365513
Cost at  60  : 22.0698186027
Cost at  61  : 22.0634739475
Cost at  62  : 22.0573881132
Cost at  63  : 22.0515475239
Cost at  64  : 22.0459394402
Cost at  65  : 22.0405519023
Cost at  66  : 22.0353736788
Cost at  67  : 22.0303942176
Cost at  68  : 22.025603601
Cost at  69  : 22.0209925042
Cost at  70  : 22.0165521558
Cost at  71  : 22.0122743018
Cost at  72  : 22.008151172
Cost at  73  : 22.0041754482
Cost at  74  : 22.0003402354
Cost at  75  : 21.9966390342
Cost at  76  : 21.9930657153
Cost at  77  : 21.9896144964
Cost at  78  : 21.9862799195
Cost at  79  : 21.9830568308
Cost at  80  : 21.9799403612
Cost at  81  : 21.9769259086
Cost at  82  : 21.9740091209
Cost at  83  : 21.9711858809
Cost at  84  : 21.9684522915
Cost at  85  : 21.965804662
Cost at  86  : 21.9632394955
Cost at  87  : 21.9607534772
Cost at  88  : 21.9583434633
Cost at  89  : 21.9560064706
Cost at  90  : 21.9537396667
Cost at  91  : 21.9515403612
Cost at  92  : 21.9494059973
Cost at  93  : 21.9473341436
Cost at  94  : 21.9453224871
Cost at  95  : 21.9433688259
Cost at  96  : 21.9414710632
Cost at  97  : 21.9396272007
Cost at  98  : 21.9378353334
Cost at  99  : 21.9360936441
Cost at  100  : 21.9344003984
Cost at  101  : 21.9327539403
Cost at  102  : 21.9311526874
Cost at  103  : 21.9295951271
Cost at  104  : 21.9280798129
Cost at  105  : 21.9266053605
Cost at  106  : 21.9251704446
Cost at  107  : 21.9237737956
Cost at  108  : 21.922414197
Cost at  109  : 21.921090482
Cost at  110  : 21.9198015315
Cost at  111  : 21.9185462712
Cost at  112  : 21.9173236696
Cost at  113  : 21.9161327357
Cost at  114  : 21.9149725167
Cost at  115  : 21.9138420966
Cost at  116  : 21.9127405941
Cost at  117  : 21.9116671606
Cost at  118  : 21.9106209795
Cost at  119  : 21.9096012634
Cost at  120  : 21.9086072541
Cost at  121  : 21.90763822
Cost at  122  : 21.9066934556
Cost at  123  : 21.9057722801
Cost at  124  : 21.9048740363
Cost at  125  : 21.9039980894
Cost at  126  : 21.9031438261
Cost at  127  : 21.9023106539
Cost at  128  : 21.9014979996
Cost at  129  : 21.9007053091
Cost at  130  : 21.8999320461
Cost at  131  : 21.8991776917
Cost at  132  : 21.8984417435
Cost at  133  : 21.8977237149
Cost at  134  : 21.8970231345
Cost at  135  : 21.8963395457
Cost at  136  : 21.8956725056
Cost at  137  : 21.895021585
Cost at  138  : 21.8943863675
Cost at  139  : 21.8937664493
Cost at  140  : 21.8931614385
Cost at  141  : 21.8925709546
Cost at  142  : 21.8919946284
Cost at  143  : 21.8914321012
Cost at  144  : 21.8908830248
Cost at  145  : 21.8903470608
Cost at  146  : 21.8898238803
Cost at  147  : 21.8893131639
Cost at  148  : 21.8888146009
Cost at  149  : 21.8883278892
Cost at  150  : 21.8878527353
Cost at  151  : 21.8873888534
Cost at  152  : 21.8869359658
Cost at  153  : 21.8864938019
Cost at  154  : 21.8860620989
Cost at  155  : 21.8856406006
Cost at  156  : 21.8852290578
Cost at  157  : 21.8848272279
Cost at  158  : 21.8844348747
Cost at  159  : 21.8840517682
Cost at  160  : 21.8836776844
Cost at  161  : 21.8833124049
Cost at  162  : 21.8829557174
Cost at  163  : 21.8826074146
Cost at  164  : 21.8822672949
Cost at  165  : 21.8819351616
Cost at  166  : 21.8816108232
Cost at  167  : 21.8812940928
Cost at  168  : 21.8809847884
Cost at  169  : 21.8806827327
Cost at  170  : 21.8803877525
Cost at  171  : 21.8800996794
Cost at  172  : 21.8798183487
Cost at  173  : 21.8795436002
Cost at  174  : 21.8792752775
Cost at  175  : 21.8790132281
Cost at  176  : 21.8787573032
Cost at  177  : 21.8785073577
Cost at  178  : 21.8782632502
Cost at  179  : 21.8780248426
Cost at  180  : 21.8777920002
Cost at  181  : 21.8775645915
Cost at  182  : 21.8773424885
Cost at  183  : 21.877125566
Cost at  184  : 21.876913702
Cost at  185  : 21.8767067774
Cost at  186  : 21.8765046759
Cost at  187  : 21.8763072842
Cost at  188  : 21.8761144916
Cost at  189  : 21.8759261901
Cost at  190  : 21.8757422742
Cost at  191  : 21.875562641
Cost at  192  : 21.8753871901
Cost at  193  : 21.8752158235
Cost at  194  : 21.8750484455
Cost at  195  : 21.8748849626
Cost at  196  : 21.8747252836
Cost at  197  : 21.8745693196
Cost at  198  : 21.8744169837
Cost at  199  : 21.874268191
Cost at  200  : 21.8741228587
Cost at  201  : 21.8739809059
Cost at  202  : 21.8738422537
Cost at  203  : 21.873706825
Cost at  204  : 21.8735745445
Cost at  205  : 21.8734453388
Cost at  206  : 21.8733191361
Cost at  207  : 21.8731958664
Cost at  208  : 21.8730754612
Cost at  209  : 21.8729578538
Cost at  210  : 21.8728429789
Cost at  211  : 21.8727307729
Cost at  212  : 21.8726211736
Cost at  213  : 21.8725141202
Cost at  214  : 21.8724095535
Cost at  215  : 21.8723074155
Cost at  216  : 21.8722076497
Cost at  217  : 21.8721102008
Cost at  218  : 21.8720150149
Cost at  219  : 21.8719220394
Cost at  220  : 21.8718312229
Cost at  221  : 21.871742515
Cost at  222  : 21.8716558667
Cost at  223  : 21.8715712302
Cost at  224  : 21.8714885586
Cost at  225  : 21.8714078063
Cost at  226  : 21.8713289285
Cost at  227  : 21.8712518818
Cost at  228  : 21.8711766236
Cost at  229  : 21.8711031122
Cost at  230  : 21.8710313072
Cost at  231  : 21.8709611687
Cost at  232  : 21.8708926582
Cost at  233  : 21.8708257377
Cost at  234  : 21.8707603703
Cost at  235  : 21.87069652
Cost at  236  : 21.8706341515
Cost at  237  : 21.8705732304
Cost at  238  : 21.870513723
Cost at  239  : 21.8704555965
Cost at  240  : 21.8703988188
Cost at  241  : 21.8703433587
Cost at  242  : 21.8702891855
Cost at  243  : 21.8702362693
Cost at  244  : 21.870184581
Cost at  245  : 21.870134092
Cost at  246  : 21.8700847745
Cost at  247  : 21.8700366012
Cost at  248  : 21.8699895457
Cost at  249  : 21.869943582
Cost at  250  : 21.8698986847
Cost at  251  : 21.869854829
Cost at  252  : 21.8698119909
Cost at  253  : 21.8697701466
Cost at  254  : 21.8697292731
Cost at  255  : 21.8696893479
Cost at  256  : 21.8696503489
Cost at  257  : 21.8696122547
Cost at  258  : 21.8695750443
Cost at  259  : 21.8695386971
Cost at  260  : 21.8695031932
Cost at  261  : 21.8694685128
Cost at  262  : 21.8694346371
Cost at  263  : 21.8694015472
Cost at  264  : 21.8693692249
Cost at  265  : 21.8693376524
Cost at  266  : 21.8693068124
Cost at  267  : 21.8692766877
Cost at  268  : 21.8692472619
Cost at  269  : 21.8692185187
Cost at  270  : 21.8691904423
Cost at  271  : 21.8691630172
Cost at  272  : 21.8691362282
Cost at  273  : 21.8691100607
Cost at  274  : 21.8690845002
Cost at  275  : 21.8690595326
Cost at  276  : 21.8690351442
Cost at  277  : 21.8690113215
Cost at  278  : 21.8689880514
Cost at  279  : 21.8689653211
Cost at  280  : 21.868943118
Cost at  281  : 21.86892143
Cost at  282  : 21.8689002451
Cost at  283  : 21.8688795515
Cost at  284  : 21.868859338

Cost at  285  : 21.8688395934
Cost at  286  : 21.8688203067
Cost at  287  : 21.8688014674
Cost at  288  : 21.8687830651
Cost at  289  : 21.8687650897
Cost at  290  : 21.8687475312
Cost at  291  : 21.86873038
Cost at  292  : 21.8687136267
Cost at  293  : 21.8686972619
Cost at  294  : 21.8686812767
Cost at  295  : 21.8686656623
Cost at  296  : 21.8686504101
Cost at  297  : 21.8686355117
Cost at  298  : 21.8686209589
Cost at  299  : 21.8686067436
Cost at  300  : 21.868592858
Cost at  301  : 21.8685792945
Cost at  302  : 21.8685660456
Cost at  303  : 21.8685531041
Cost at  304  : 21.8685404627
Cost at  305  : 21.8685281145
Cost at  306  : 21.8685160528
Cost at  307  : 21.8685042708
Cost at  308  : 21.8684927621
Cost at  309  : 21.8684815204
Cost at  310  : 21.8684705394
Cost at  311  : 21.8684598131
Cost at  312  : 21.8684493356
Cost at  313  : 21.8684391011
Cost at  314  : 21.868429104
Cost at  315  : 21.8684193388
Cost at  316  : 21.8684098001
Cost at  317  : 21.8684004827
Cost at  318  : 21.8683913814
Cost at  319  : 21.8683824911
Cost at  320  : 21.8683738071
Cost at  321  : 21.8683653245
Cost at  322  : 21.8683570387
Cost at  323  : 21.868348945
Cost at  324  : 21.8683410391
Cost at  325  : 21.8683333166
Cost at  326  : 21.8683257731
Cost at  327  : 21.8683184047
Cost at  328  : 21.8683112071
Cost at  329  : 21.8683041765
Cost at  330  : 21.868297309
Cost at  331  : 21.8682906008
Cost at  332  : 21.8682840481
Cost at  333  : 21.8682776475
Cost at  334  : 21.8682713953
Cost at  335  : 21.8682652881
Cost at  336  : 21.8682593226
Cost at  337  : 21.8682534954
Cost at  338  : 21.8682478034
Cost at  339  : 21.8682422434
Cost at  340  : 21.8682368124
Cost at  341  : 21.8682315074
Cost at  342  : 21.8682263254
Cost at  343  : 21.8682212636
Cost at  344  : 21.8682163192
Cost at  345  : 21.8682114895
Cost at  346  : 21.8682067718
Cost at  347  : 21.8682021636
Cost at  348  : 21.8681976622
Cost at  349  : 21.8681932652
Cost at  350  : 21.8681889702
Cost at  351  : 21.8681847749
Cost at  352  : 21.8681806768
Cost at  353  : 21.8681766738
Cost at  354  : 21.8681727637
Cost at  355  : 21.8681689442
Cost at  356  : 21.8681652134
Cost at  357  : 21.868161569
Cost at  358  : 21.8681580092
Cost at  359  : 21.868154532
Cost at  360  : 21.8681511354
Cost at  361  : 21.8681478176
Cost at  362  : 21.8681445768
Cost at  363  : 21.8681414111
Cost at  364  : 21.8681383189
Cost at  365  : 21.8681352983
Cost at  366  : 21.8681323479
Cost at  367  : 21.8681294659
Cost at  368  : 21.8681266507
Cost at  369  : 21.8681239008
Cost at  370  : 21.8681212147
Cost at  371  : 21.8681185909
Cost at  372  : 21.868116028
Cost at  373  : 21.8681135245
Cost at  374  : 21.868111079
Cost at  375  : 21.8681086903
Cost at  376  : 21.868106357
Cost at  377  : 21.8681040778
Cost at  378  : 21.8681018515
Cost at  379  : 21.8680996769
Cost at  380  : 21.8680975526
Cost at  381  : 21.8680954776
Cost at  382  : 21.8680934508
Cost at  383  : 21.868091471
Cost at  384  : 21.8680895371
Cost at  385  : 21.868087648
Cost at  386  : 21.8680858028
Cost at  387  : 21.8680840004
Cost at  388  : 21.8680822397
Cost at  389  : 21.8680805199
Cost at  390  : 21.86807884
Cost at  391  : 21.8680771991
Cost at  392  : 21.8680755962
Cost at  393  : 21.8680740305
Cost at  394  : 21.8680725011
Cost at  395  : 21.8680710072
Cost at  396  : 21.868069548
Cost at  397  : 21.8680681226
Cost at  398  : 21.8680667302
Cost at  399  : 21.8680653701
Cost at  400  : 21.8680640416
Cost at  401  : 21.8680627439
Cost at  402  : 21.8680614763
Cost at  403  : 21.8680602382
Cost at  404  : 21.8680590287
Cost at  405  : 21.8680578473
Cost at  406  : 21.8680566932
Cost at  407  : 21.868055566
Cost at  408  : 21.8680544649
Cost at  409  : 21.8680533893
Cost at  410  : 21.8680523387
Cost at  411  : 21.8680513124
Cost at  412  : 21.86805031
Cost at  413  : 21.8680493308
Cost at  414  : 21.8680483743
Cost at  415  : 21.86804744
Cost at  416  : 21.8680465274
Cost at  417  : 21.8680456359
Cost at  418  : 21.8680447651
Cost at  419  : 21.8680439146
Cost at  420  : 21.8680430837
Cost at  421  : 21.8680422721
Cost at  422  : 21.8680414793
Cost at  423  : 21.868040705
Cost at  424  : 21.8680399486
Cost at  425  : 21.8680392097
Cost at  426  : 21.868038488
Cost at  427  : 21.868037783
Cost at  428  : 21.8680370943
Cost at  429  : 21.8680364217
Cost at  430  : 21.8680357646
Cost at  431  : 21.8680351228
Cost at  432  : 21.8680344958
Cost at  433  : 21.8680338834
Cost at  434  : 21.8680332853
Cost at  435  : 21.8680327009
Cost at  436  : 21.8680321302
Cost at  437  : 21.8680315727
Cost at  438  : 21.8680310281
Cost at  439  : 21.8680304961
Cost at  440  : 21.8680299765
Cost at  441  : 21.8680294689
Cost at  442  : 21.8680289731
Cost at  443  : 21.8680284888
Cost at  444  : 21.8680280157
Cost at  445  : 21.8680275537
Cost at  446  : 21.8680271023
Cost at  447  : 21.8680266614
Cost at  448  : 21.8680262307
Cost at  449  : 21.86802581
Cost at  450  : 21.8680253991
Cost at  451  : 21.8680249977
Cost at  452  : 21.8680246056
Cost at  453  : 21.8680242226
Cost at  454  : 21.8680238485
Cost at  455  : 21.868023483
Cost at  456  : 21.8680231261
Cost at  457  : 21.8680227774
Cost at  458  : 21.8680224368
Cost at  459  : 21.8680221041
Cost at  460  : 21.8680217792
Cost at  461  : 21.8680214617
Cost at  462  : 21.8680211516
Cost at  463  : 21.8680208488
Cost at  464  : 21.8680205529
Cost at  465  : 21.8680202639
Cost at  466  : 21.8680199816
Cost at  467  : 21.8680197059
Cost at  468  : 21.8680194365
Cost at  469  : 21.8680191734
Cost at  470  : 21.8680189164
Cost at  471  : 21.8680186654
Cost at  472  : 21.8680184202
Cost at  473  : 21.8680181806
Cost at  474  : 21.8680179467
Cost at  475  : 21.8680177181
Cost at  476  : 21.8680174949
Cost at  477  : 21.8680172768
Cost at  478  : 21.8680170638
Cost at  479  : 21.8680168557
Cost at  480  : 21.8680166525
Cost at  481  : 21.868016454
Cost at  482  : 21.86801626
Cost at  483  : 21.8680160706
Cost at  484  : 21.8680158856
Cost at  485  : 21.8680157049
Cost at  486  : 21.8680155283
Cost at  487  : 21.8680153559
Cost at  488  : 21.8680151874
Cost at  489  : 21.8680150229
Cost at  490  : 21.8680148621
Cost at  491  : 21.8680147051
Cost at  492  : 21.8680145518
Cost at  493  : 21.868014402
Cost at  494  : 21.8680142556
Cost at  495  : 21.8680141127
Cost at  496  : 21.8680139731
Cost at  497  : 21.8680138367
Cost at  498  : 21.8680137035
Cost at  499  : 21.8680135734

In [67]:
m

array([ -1.01600053,   1.34870013,   0.12619247,   0.57643535,
        -2.28989842,   2.12620331,   0.12938467,  -3.17807284,
         2.63684855,  -1.86959845,  -2.14517014,   0.67879373,
        -3.93214294,  22.52227723])

In [82]:
### Now we have our optimum values of m that we'll use to predict new dataset
### So let's define our predict function
def predict(X, m):
    y = np.dot(X, m.T)
    return y

In [73]:
### Let's append a column of ones to our testing dataset as well

array([ -1.01600053,   1.34870013,   0.12619247,   0.57643535,
        -2.28989842,   2.12620331,   0.12938467,  -3.17807284,
         2.63684855,  -1.86959845,  -2.14517014,   0.67879373,
        -3.93214294,  22.52227723])

In [88]:
ones_col_for_test = np.ones(len(X_test_scaled))
ones_col_for_test = ones_col_for_test.reshape(-1, 1)
ones_col_for_test.shape

(102, 1)

In [90]:
X_test_final = np.append(X_test_scaled, ones_col_for_test, axis=1) # let's append
X_test_final.shape

(102, 14)

In [92]:
y_predicted = predict(X_test_final, m)

In [93]:
y_predicted

array([ 32.64741185,  28.09520693,  18.02766328,  21.48478476,
        18.8230408 ,  19.88427773,  32.41586396,  18.06649576,
        24.42607583,  27.01399628,  27.04111375,  28.75176132,
        21.16284384,  26.85720474,  23.39258691,  20.66444487,
        17.32156481,  38.23622506,  30.51447773,   8.73915538,
        20.80782236,  16.24240963,  25.22084507,  24.85310796,
        31.39019724,  10.67193282,  13.78468589,  16.66704033,
        36.52072924,  14.664133  ,  21.12635048,  13.95376748,
        43.15215448,  17.96999701,  21.80958847,  20.58177959,
        17.58080857,  27.2203981 ,   9.47660385,  19.82629589,
        24.31559799,  21.18133992,  29.57334177,  16.32373913,
        19.31195526,  14.51438568,  39.22236094,  18.11194946,
        25.91089657,  20.29963459,  25.15143539,  24.42727121,
        25.07538001,  26.6617263 ,   4.56534337,  24.08040157,
        10.86627939,  26.89559998,  16.85446095,  35.87748353,
        19.5471848 ,  27.52204504,  16.57872473,  18.73952126,
        11.11965828,  32.36261644,  36.72080369,  21.97219568,
        24.58710386,  25.16247393,  23.42962344,   6.92006898,
        16.55432899,  20.41578021,  20.80455508,  21.54079212,
        33.86017415,  27.95366121,  25.17387102,  34.65251862,
        18.62566016,  23.9826695 ,  34.6463844 ,  13.30579098,
        20.71859886,  30.08480283,  17.11473733,  24.3050481 ,
        19.25744127,  16.98009879,  27.00806534,  41.84349519,
        14.12718629,  23.26135385,  14.65273233,  21.87468237,
        23.02374263,  29.09093203,  37.11070102,  20.53195293,
        17.33354363,  17.7048918 ])

In [96]:
### Let's create a score function to check the accuracy of our model
def score(y_true, y_predicted):
    u = ((y_true - y_predicted)**2).sum()
    v = ((y_true - y_true.mean())**2).sum()
    return (1 - u/v)

In [97]:
sc = score(y_test, y_predicted)
sc

0.76347292184108806

In [ ]:
### ahaa not bad score